# Python
**/__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/
*.log

# Databases & Vector Stores
**/chroma_db/
**/chroma_db_v3/
**/chroma_db_v4/
**/logs/
**/postgres_data/

# IDEs
.idea/
.vscode/

# Environment
.env

# Frontend
**/node_modules/
**/.next/
**/out/
**/build/
**/dist/
.next/
node_modules/

# OS
.DS_Store
Thumbs.db
